{% trans_default_domain "gibbon" %}

{% extends 'form_table_layout.html.twig' %}

{%- block form_row -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <tr{% if row_class is not same as(false) %} class="{{ row_class|default('flex flex-col sm:flex-row justify-between content-center p-0') }}{{ errors|length > 0 ? ' errors' : '' }}"{% endif %}{% if row_id is not same as(false) %} id="{{ row_id }}"{% endif %}>
        <td class="{{ label_class|default('flex flex-col flex-grow justify-center -mb-1 sm:mb-0 px-2 border-b-0 sm:border-b border-t-0') }}"{% if label_colspan > '1' %} colspan="{{ label_colspan }}"{% endif %}>
            {{- form_label(form) -}}
            {{- form_help(form) -}}
        </td>
        <td class="{{ widget_class|default('w-full max-w-full sm:max-w-xs flex justify-end items-center px-2 border-b-0 sm:border-b border-t-0') }}"{% if widget_colspan > '1' %} colspan="{{ widget_colspan }}"{% endif %}>
            <div class="{{ wrapper_class|default('flex-1 relative') }}{% if 'checkbox' in block_prefixes %} right{% endif %}">
                {{- form_widget(form, widget_attr) -}}
                {{- form_errors(form) -}}
            </div>
        </td>
    </tr>
{%- endblock form_row -%}

{%- block header_row -%}
    <tr{% if row_class is not same as(false) %} class="{{ row_class|default("break") }}{% endif %}"{% if row_id is not same as(false) %} id="{{ row_id }}"{% endif %}>
        <td{% if label_class is not same as(false) %} class="{{ label_class|default("px-2 border-b-0 sm:border-b border-t-0") }}"{% endif %}{% if label_colspan > 1 %} colspan="{{ label_colspan }}"{% endif %}>
            <h3>{{ label is not same as(false) ? (translation_domain is same as(false) ? label : label|trans({}, translation_domain)) }}</h3>
        </td>
    </tr>
{%- endblock header_row -%}

{%- block choice_widget_collapsed -%}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
        {% set required = false %}
    {%- endif -%}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>
{%- endblock choice_widget_collapsed -%}

{%- block button_row -%}
    <tr{% if row_class is not same as(false) %} class="{{ row_class|default('flex flex-col sm:flex-row justify-between content-center p-0') }}"{% endif %}{% if row_id is not same as(false) %} id="{{ row_id }}"{% endif %}>
        <td class="{{ label_class|default('flex-grow justify-center px-2 border-b-0 sm:border-b border-t-0') }}"{% if label_colspan > '1' %} colspan="{{ label_colspan }}"{% endif %}>{% if name is same as ('submit') %}<span class="emphasis small">* {{ 'denotes a required field'|trans }}</span>{% endif %}</td>
        <td class="{{ widget_class|default('w-full max-w-full sm:max-w-xs flex justify-end items-center px-2 border-b-0 sm:border-b border-t-0') }}"{% if widget_colspan > '1' %} colspan="{{ widget_colspan }}"{% endif %}>
            {{- form_widget(form) -}}
        </td>
    </tr>
{%- endblock button_row -%}

{%- block checkbox_widget -%}
    {% if sub_label is not same as('') %}<label class="leading-normal">{{ (translation_domain is same as(false) ? sub_label : sub_label|trans({}, translation_domain)) }}</label>{% endif %}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock checkbox_widget -%}

{% block toggle_widget -%}
    <!-- Rounded switch -->
    <label class="switch">
        <input type="hidden" class="slider_input" id="{{ id }}" name="{{ full_name }}"{% if value is defined %} value="{{ value }}"{% endif %}/>
        <span class="slider round"></span>
    </label>
{%- endblock toggle_widget %}

{% block toggle_row -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <tr{% if row_class is not same as(false) %} class="{{ row_class|default('flex flex-col sm:flex-row justify-between content-center p-0') }}{{ errors|length > 0 ? ' errors' : '' }}"{% endif %}{% if row_id is not same as(false) %} id="{{ row_id }}"{% endif %}>
        <td class="{{ label_class|default('flex flex-col flex-grow justify-center -mb-1 sm:mb-0 px-2 border-b-0 sm:border-b border-t-0') }}"{% if label_colspan > '1' %} colspan="{{ label_colspan }}"{% endif %}>
            {{- form_label(form) -}}
            {{- form_help(form) -}}
        </td>
        <td class="{{ widget_class|default('w-full max-w-full sm:max-w-xs flex justify-end items-center px-2 border-b-0 sm:border-b border-t-0') }}"{% if widget_colspan > '1' %} colspan="{{ widget_colspan }}"{% endif %}>
            <div class="{{ wrapper_class|default('flex-1 relative') }}{% if 'checkbox' in block_prefixes %} right{% endif %}" id="{{ id }}_content">
                {{- form_widget(form, widget_attr) -}}
                {{- form_errors(form) -}}
            </div>
        </td>
    </tr>
{%- endblock toggle_row %}

{% block attributes -%}
    {%- if (attr['class'] is not defined and type is defined and type not in ['submit', 'button']) or (attr['class'] is not defined and choices is defined) -%}
        {% set attr = attr|merge({class: 'w-full'}) %}
    {%- endif -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ translation_domain is same as(false) ? attrvalue : attrvalue|trans(attr_translation_parameters, translation_domain) }}"
        {%- elseif attrvalue is same as(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not same as(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock attributes -%}

{# Labels #}

{%- block form_label -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('inline-block mt-4 sm:my-1 sm:max-w-xs font-bold text-sm sm:text-xs') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
        {%- if translation_domain is same as(false) -%}
            {{- label -}}{% if required -%}&nbsp;*{%- endif -%}
        {%- else -%}
            {{- label|trans(label_translation_parameters, translation_domain) -}}{% if required -%}&nbsp;*{%- endif -%}
        {%- endif -%}
        </{{ element|default('label') }}>
    {%- endif -%}
{%- endblock form_label -%}

{# Help #}

{% block form_help -%}
    {%- if help is not empty -%}
        {%- set help_attr = help_attr|merge({class: (help_attr.class|default('') ~ ' help-text')|trim}) -%}
        <span id="{{ id }}_help"{% with { attr: help_attr } %}{{ block('attributes') }}{% endwith %}>
            {%- if translation_domain is same as(false) -%}
                {%- if help_html is same as(false) -%}
                    {{- help -}}
                {%- else -%}
                    {{- help|raw -}}
                {%- endif -%}
            {%- else -%}
                {%- if help_html is same as(false) -%}
                    {{- help|trans(help_translation_parameters, translation_domain) -}}
                {%- else -%}
                    {{- help|trans(help_translation_parameters, translation_domain)|raw -}}
                {%- endif -%}
            {%- endif -%}
        </span>
    {%- endif -%}
{%- endblock form_help %}


{# Errors #}
{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <br/>
        <ul>
            {%- for error in errors -%}
                <li>{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}

