<ul class="multiPartForm"><li class="step active">{{ 'Select File'|trans }}</li><li class="step active">{{ 'Confirm Data'|trans }}</li><li class="step active">{{ 'Dry Run'|trans }}</li><li class="step ">{{ 'Live Run'|trans }}</li></ul>

<h3>{{ 'Step {number}'|trans({'{number}': step}) ~ ' - ' ~ 'Dry Run'|trans }}</h3>
