{% trans_default_domain 'messages' %}

{% if content.count > 0 %}
    <a class='inline-block relative mr-4' title='{{ 'Notifications'|trans }}' href='{{ path('notifications_manage') }}'><span class='badge -mr-2 right-0'>{{ content.count }}</span><img style='margin-left: 2px; vertical-align: -75%' src='{{ asset('/themes/' ~ getThemeName() ~ '/img/notifications.png') }}' /></a>
{% else %}
    <a class='inactive inline-block relative mr-4' title='{{ 'Notifications'|trans }}' href='{{ path('notifications_manage') }}'><img class='minorLinkIcon' style='margin-left: 2px; opacity: 0.2; vertical-align: -75%' src='{{ asset('/themes/' ~ getThemeName() ~ '/img/notifications.png') }}' /></a>
{% endif %}
