{% trans_default_domain 'messages' %}

{% if bodyStyle is not defined %}
    {% set bodyStyle = "background: url('" ~ asset(getBackgroundImage()) ~ "') repeat fixed center top olivedrab!important;" %}
{% endif %}

{% block full_document %}
<!DOCTYPE html>
<html {{ rightToLeft() ? 'dir="rtl"' : '' }}>
    {% block head %}
        {{ include('default/head.html.twig') }}
    {% endblock head %}

    {% block body %}
    <body style="{{ bodyStyle }}">
        <!-- kookaburra.html.twig -->
        {% block wrapOuter %}

        <div id="wrapOuter">
            {% block wrap %}
            <div id="wrap" class="max-w-6xl mx-auto m-2 shadow rounded">
                {% block minor_links %}
                    {% include 'default/minor_links.html.twig' %}
                {% endblock minor_links %}
                {% block header %}
                    <div id="header" class="relative flex bg-white rounded-t items-center justify-between h-24 sm:h-32">
                        <a id="header-logo" href="{{ absoluteURL }}">
                            <img alt="{{ app.request.session.get('organisationName') }}" src="{{ asset(organisationLogo|default("/themes/Default/img/logo.png"), null, true) }}" style="width: 400px" />
                        </a>
                        <div id="fastFinderWrapper"></div>
                    </div>

                    <nav id="header-menu" class="relative flex bg-gray-200">
                        {% include 'default/menu.html.twig'  %}
                    </nav>
                {% endblock header %}

                <div id="content-wrap" class="bg-transparent-100 relative w-full min-h-screen flex">
                    <div id="content" class="px-6">
                        {% block sidebar %}
                            {% include 'default/sidebar/sidebar.html.twig' %}
                        {% endblock sidebar %}
                        <div id="page" class="float-left">
                        {% block page %}
                            {% if content() and not app.request.attributes.has('sidebar') %}
                                {% include 'default/sidebar/module_menu.html.twig' %}
                            {% endif %}

                            {% if breadcrumbs is defined %}
                                <div>
                                    {% if breadcrumbs is same as('new') %}
                                        {% for crumb in createBreadCrumbs(module) %}
                                            {% if loop.last %}
                                                <span >{{ crumb.name|trans(crumb.transParams, crumb.domain) }}</span>
                                            {% elseif loop.revindex > 5 and loop.index != 1 %}
                                                <a href="{{ path(crumb.uri, crumb.uriParams) }}">...</a> >
                                            {% else %}
                                                <a href="{{ path(crumb.uri, crumb.uriParams) }}">{{ crumb.name|trans(crumb.transParams, crumb.domain) }}</a> >
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        {% for title, src in breadcrumbs %}
                                            {% if loop.last %}
                                                <span >{{ title }}</span>
                                            {% elseif loop.revindex > 5 and loop.index != 1 %}
                                                <a href="/{{ src }}">...</a> >
                                            {% else %}
                                                <a href="{{ src }}">{{ title }}</a> >
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            {% endif %}

                            {% block soft_error %}
                                {% if softError is defined and softError|length > 0 %}
                                    <div class="error">{{ softError|trans(softErrorParams|default({})) }}</div>
                                {% endif %}
                                {% include 'components/sidebar/flashes.html.twig' %}
                                {% include 'components/messages.html.twig' %}
                            {% endblock soft_error %}

                            {% for type, alerts in alerts() %}
                                {% for text in alerts %}
                                    <div class="{{ type }}">{{ text|raw }}</div>
                                {% endfor %}
                            {% endfor %}

                            {% block content %}
                            {{ content()|join("\n")|raw }}
                            {% endblock content %}

                        {% endblock page %}
                        </div>
                    </div>
                </div>

                {% block footer %}
                    <div>
                        <span>
                            {{ 'Powered by'|trans }} <a target='_blank' href='http://help.craigrayner.com'>{{ 'Kookaburra'|trans }}</a> {{ version }}</span>
                        <span>|  &#169; <a target='_blank' href='http://www.craigrayner.com'>Craig Rayner</a> 2019-{{ 'now'|date('Y') }}</span>
                        <br/>
                        <span>
                            {{ 'Created under the'|trans }} <a target='_blank' href='https://opensource.org/licenses/MIT'>MIT</a> {{ 'licence' }},
                            {{ 'from a fork of'|trans }} <a target='_blank' href='https://gibbonedu.org'>Gibbon v18.0.00</a>
                            <br/>
                            {{ footerThemeAuthor|default('') }}<br />
                        </span>
                        <img alt="Logo Small" src="{{ absoluteURL }}/themes/{{ gibbonThemeName|default("Default") }}/img/logoFooter.png" />
                    </div>
                {% endblock footer %}
            </div>
        </div>
        {% endblock wrap %}
        {% endblock wrapOuter %}
        {% block popUpContent %}
            <div id="popupExample" class="overlay">
                <div class="popup">
                    <!--
                    <h2>Here i am</h2>
                    <a class="close" href="#">&times;</a>
                    <div class="content">
                        Thank to pop me out of that button, but now i'm done so you can close this window.
                    </div> -->
                </div>
            </div>
        {% endblock popUpContent %}
        <div id="dumpStuff"></div>
        <div id="idleTimeout"></div>
        {% block foot %}
            {{ encore_entry_script_tags('app') }}
            {% include 'default/scripts.html.twig' %}
        {% endblock foot %}
    </body>
    {% endblock body %}
    </html>
{% endblock full_document %}
