{% extends 'kookaburra.html.twig' %}

{% form_theme form
    'form/kookaburra_form.html.twig'
%}

{% block content %}
    <h2>{{ 'Installation - Step {step}'|trans({'{step}': '2'}) }}</h2>
    {% if message is defined and message is iterable %}
        <div class="{{ message.class }}">{{ message.text|trans }}</div>
    {% endif %}
    {{ form_start(form) }}
        <table class="smallIntBorder fullWidth standardForm relative" cellspacing="0">
            <tbody>
                <tr class="break">
                    <td class=" px-2 border-b-0 sm:border-b border-t-0 " colspan="2">
                        <h3>{{ 'Database Settings'|trans }}</h3>
                    </td>
                </tr>
                {{ form_row(form.host) }}
                {{ form_row(form.dbname) }}
                {{ form_row(form.user) }}
                {{ form_row(form.password) }}
                {{ form_row(form.port) }}
                {{ form_row(form.demo) }}
                {{ form_row(form.submit) }}
            </tbody>
        </table>
    {{ form_end(form) }}
{% endblock content %}


