{% extends 'kookaburra.html.twig' %}

{% form_theme form
    'form/kookaburra_form.html.twig'
%}

{% block content %}
    <h2>{{ 'Installation - Step {step}'|trans({'{step}': '3'}) }}</h2>
    {% if message is defined and message is iterable %}
        <div class="{{ message.class }}">{{ message.text|trans({}, 'kookaburra') }}</div>
    {% endif %}
    {{ form_start(form) }}
    <table class="smallIntBorder fullWidth standardForm relative">
        <tbody>
            {{ form_row(form.userAccountHeader) }}
            {{ form_row(form.title) }}
            {{ form_row(form.surname) }}
            {{ form_row(form.firstName) }}
            {{ form_row(form.email) }}
            {{ form_row(form.username) }}
            <tr id="" class=" flex flex-col sm:flex-row justify-between content-center p-0">
                <td class="flex-grow justify-center px-2 border-b-0 sm:border-b border-t-0 " colspan="2">
                    <div class="warning">
                        {% include 'components/password_policy.html.twig' with {passwordPolicy:  manager.getPasswordPolicy()} %}
                    </div>
                </td>
            </tr>
            {{ form_row(form.password) }}
            {{ form_row(form.systemSettingsHeader) }}
            {{ form_row(form.baseUrl) }}
            {{ form_row(form.basePath) }}
            {{ form_row(form.systemName) }}
            {{ form_row(form.installType) }}
            {{ form_row(form.organisationHeader) }}
            {{ form_row(form.organisationName) }}
            {{ form_row(form.organisationNameShort) }}
            {{ form_row(form.miscellaneousHeader) }}
            {{ form_row(form.country) }}
            {{ form_row(form.currency) }}
            {{ form_row(form.timezone) }}
            {{ form_row(form.submit) }}
        </tbody>
    </table>
    {{ form_end(form) }}
{% endblock content %}


