{% trans_default_domain 'messages' %}

<h2>{{ 'Welcome To Kookaburra'|trans}}</h2>

<p>{{ 'Kookaburra Software is a fork of Gibbon.'|trans }}</p>
<p>{{ 'Created by teachers, Kookaburra is the school platform which solves real problems faced by educators every day.'|trans }}</p>
<p>{{ 'Free, open source and flexible, Kookaburra can morph to meet the needs of a huge range of schools.'|trans }}</p>
<p>{{ 'For support, please visit %1$scraigrayner.com%2$s.'|trans({'%1$s': "<a target='_blank' href='https://www.craigrayner.com/support'>", '%2$s': '</a>'})|raw }}</p>
